:root {
    --primary-color: rgb(0, 255, 170);
    --secondary-color: rgb(70, 15, 102);
    --tertiary-color: rgb(202, 118, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling Start */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    background-size: cover;
    background-attachment: fixed;
    background-position: 20%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

header li a {
    text-decoration: underline;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
}

.hero {
    background-image: url("../assets/images/header-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 80%;
}

